div {
	border: solid slategray 1px;
	padding: 10px;
}

.parent {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	justify-items: center;
}

.grid-item {
	background-color: slategray;
	font-family: Arial, Helvetica, sans-serif;
	color: azure;
	width: fit-content;
}
