.parent {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	border: black solid 1px;
}

.box {
	width: 300px;
	height: 300px;
}

.box:first-child {
	background-color: rgba(255, 0, 0, 0.7);
	order: 1;
	grid-column: 2 / span 2;
	grid-row: 1 / span 2;
}

.box:last-child {
	background-color: rgba(0, 0, 255, 0.7);
	order: 2;
	justify-self: center;
	grid-column: 2 / span 2;
	grid-row: 2 / span 2;
}

.box:nth-child(2) {
	background-color: rgba(125, 255, 125, 0.7);
	order: 3;
	grid-row: 3 / span 2;
	grid-column: 3 / span 2;
}
